.Header{
    height: 140px;
    background-color: #fff;
    font-size: 24px;    padding: 15px 30px;
    padding-top: 25px;
    font-weight: bold;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 80px;
    right: 0;
    z-index: 5;
    min-width: 860px;
}

.FilterArea,
.MainArea{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}